<div id="<%= dom_id grupo_de_item %>">
  <p>
    <strong>Codigo:</strong>
    <%= grupo_de_item.codigo %>
  </p>

  <p>
    <strong>Descricao:</strong>
    <%= grupo_de_item.descricao %>
  </p>

</div>
