<% content_for :title, "Editing grupo de item" %>
<h1>Editing grupo de item</h1>
<%= render "form", grupo_de_item: @grupo_de_item %>
<br>
<div>
  <%= link_to "Cancelar", grupo_de_items_path, class: "btn btn-outline-danger" %>
</div>
